
# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
logs
log-wechat
test
*.log
target
.mvn
out
gen
=======
*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml

/wechat-admin/target/
/wechat-core/target/
/wechat-ueditor/target/
/wechat-util/target/
